:root {
  --title-color: #363636;
}
@media print {
  [role='tooltip'] {
    display: none;
  }
}
.h1 {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.5;
}
.h2 {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.5;
}
.h3 {
  font-size: 1.25rem;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.5;
}
.h4 {
  font-size: 1rem;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.5;
}
.unstyled {
  font-size: 14px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}.DraftEditor-root .is-active {
  outline: 3px solid #1976d2;
}
