{% extends "papers/base.html" %}
{% block inner %}
  <h4 class="title is-size-6 mb-3" >最新发布</h4>
  <div class="columns is-multiline">
    {% for row in latest_list %}
      <div class="column is-one-third-tablet is-one-quarter-desktop">
	{% include "papers/paper_card.html" %}
      </div>
    {% endfor %}
  </div>

  {% for category in categories %}
    <div class="level is-mobile" >
      <div class="level-left" >
	<div class="level-item" >
	  <h4 class="title is-size-6" >{{category.title}}</h4>
	</div>
      </div>
      <div class="level-right" >
	<div class="level-item" >
	  <a href="{% url "papers:category" category.slug %}" class="button is-light is-small">更多{{category.title}}试卷</a>
	</div>
      </div>
    </div>

    <div class="columns is-multiline">
      {% for row in category.paper_set.as_template %}
	<div class="column is-one-third-tablet is-one-quarter-desktop">
	  {% include "papers/paper_card.html" %}
	</div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
