{% extends "papers/base.html" %}
{% load static utils_tags %}
{% block extra_css %}
{{super.block}}
<link rel="stylesheet" type="text/css" href="{% static 'backend/katex/katex.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'backend/css/editor.css' %}">
{% endblock %}
{% block header_left %}
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li><a href="{% url "papers:index" %}">试卷仓库</a></li>
		<li><a href="{% url "papers:category" object.category.slug %}">{{object.category}}</a></li>
		<li class="is-active"><a href="#" aria-current="page">{{object.title}}</a></li>
	</ul>
</nav>
{% endblock %}
{% block inner %}
<div>
	<div class="media mb-5" >
		<div class="media-content" >
			<h1 class="title is-size-4 mb-3" >{{object.title}}</h1>
			<div class="content is-size-6" >{{object.description|linebreaks}}</div>
			<div class="tags mb-0" >
				{% for tag in object.tags.names %}
				<span class="tag" >{{tag}}</span>
				{% endfor %}
			</div>
		</div>
		{% if request.user.get_orgs %}
		{# 如果未加入院校, 不可下载等 #}

		<div class="media-right" >
			<!-- <a href="{% url "papers:download" object.pk %}" class="button is-light mr-2">下载</a> -->


			<div class="dropdown is-right is-hoverable" >
				<div class="dropdown-trigger" >
					<button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu" >
						
						<span>下载</span>
						<span class="icon is-small" >
							<i data-feather="chevron-right" style="transform:rotate(90deg)" aria-hidden="true" width="18" height="18"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu" role="menu" >
					<div class="dropdown-content">
						{% for staff in request.user.staff_set.live %}
						<a href="{% url "papers:download_docx" object.pk %}?status=1" class="dropdown-item">导出试卷</a>
						<a href="{% url "papers:download_docx" object.pk %}?status=2" class="dropdown-item">导出答案及讲解</a>
						<a href="{% url "papers:download_docx" object.pk %}?status=3" class="dropdown-item">全部导出</a>
						{% endfor %}
					</div>
				</div>
			</div>	

			<div class="dropdown is-right is-hoverable" >
				<div class="dropdown-trigger" >
					<button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu" >

						<span>使用试卷</span>
						<span class="icon is-small" >
							<i data-feather="chevron-right" style="transform:rotate(90deg)" aria-hidden="true" width="18" height="18"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu" role="menu" >
					<div class="dropdown-content">
						{% for staff in request.user.staff_set.live %}
						<a href="{% url "papers:copy" object.pk staff.org.slug %}" class="dropdown-item">复制到[{{staff.org}}]试卷库</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div id="innerApp" class="has-background-light" style="min-height:80vh"></div>
</div>

{% endblock %}
{% block extra_js %}
{{block.super}}
{% include "react_props.html" %}
{% manifest_static app_root %}
{% endblock %}
